.container {
  height: 100%;
  width: 100%;
  margin: 40px 60px;
}

#input-form {
  display: flex;
}

#input-form p {
  margin: 0;
}

#serch-button {
  height: 50%;
  margin: auto 0 0 0;
  justify-self: left; 
}