body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  padding: 20px 60px;
  max-width: 100vw;
}

header {
  color: white;
  background-color: brown;
}

header h1 {
  margin: 0;
}

#inputForm {
  display: flex;
}

#inputForm .airport {
  width: 250px;
}

#inputForm .airport input {
  width: 240px;
}


#inputForm .date {
  width: 150px;
}

#inputForm .date input {
  width: 140px;
}

#inputForm label {
  display: block;
}

.ui-autocomplete{
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: scroll;
}

#serchButton {
  height: 50%;
  margin: auto 0 0 0;
  justify-self: left; 
}

.itinerary {
  display: flex;
  flex-wrap: wrap;
  background-color: lightblue;
  margin: 2px auto;
}