@media (min-width: 600px) {
  .container,
  header .container {
    padding: 20px 90px;
  }  

  .modal {
    margin: 90px auto;
    width: 400px;
  }

  header .row {
    justify-content: space-between;
    flex-direction: row;
  }

  header button {
    width: auto;
    margin: 0;
  }

  
  main > .row {
    justify-content: flex-start;
  }

  main > .row > .container:first-child {
    max-width: 80%;
    box-sizing: border-box;
    padding-right: 70px;
  }

  main .right {
    display: block;
    max-width: 20%;
    box-sizing: border-box;
  }

  #inputForm .cabinClass,
  #inputForm .travelers {
    flex: 1;
  }

  .itinerary .price {
    font-size: 19px;
  }

  .itinerary .leg {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
  }
  
  .itinerary .leg .segment {
    flex-direction: row;
    margin: 5px
  }
  
  .itinerary .leg .carrier {
    margin: auto;
  }
  
  .itinerary .leg .time-and-place {
    margin: 0 10px;
    font-size: 17px;
    line-height: 20px;
  }
  
  .itinerary .leg .direction {
    margin: auto 10px;
    transform:rotate(-90deg);
  }  
}