.container {
  height: 100%;
  width: 100%;
  margin: 40px 60px;
}

#inputForm {
  display: flex;
}

#inputForm div {
  width: 150px;
}

#inputForm label {
  display: block;
}

#inputForm input {
  width: 140px;
}

.ui-autocomplete{
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: scroll;
}

#serchButton {
  height: 50%;
  margin: auto 0 0 0;
  justify-self: left; 
}