#passenger {
  position: relative;
  display: inline-block;
}

.balloon {
  position: relative;
  display: inline-block;
  padding: 0 15px;
  width: auto;
  min-width: 150px;
  height: 40px;
  line-height: 32px;
  text-align: center;
  background: white;
  border: 1px solid #000000;
  z-index: 0;
}

.balloon:before {
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent white transparent;
  content: "";
  position: absolute;
  top: -9px;
  left: 50%;
  margin-left: -9px;
  width: 0px;
  height: 0px;
  z-index: 1;
}

.balloon:after {
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #000000 transparent;
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -9px;
  width: 0px;
  height: 0px;
  z-index: -1;
}