body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  padding: 20px 40px;
  max-width: 100vw;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

label {
  display: block;
  width: 100%;
}

button {
  cursor: pointer;
  box-shadow: 0 0 0 2px transparent;
}

button:active,
button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #66b0ff;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.4);
}

.modal {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  margin: 70px auto;
  min-height: 370px;
  height: 370px;
  width: 350px;
  border-radius: 5px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  padding: 12px;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-header h2 {
  margin: 0;
  font-size: 20px;
}

.modal-container {
  margin-bottom: 15px;
}

.modal-body {
  padding: 12px;
}

.modal-body label {
  font-weight: bold;
  line-height: 30px;
}

.modal-body select {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  font-size: 17px;
  text-indent: 7px;
}

.modal-body p {
  margin: 0;
  font-size: 14px;
}

.modal-button-container {
  display: flex;
  flex-direction: column;
}

.modal-body button {
  height: 35px;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

button#save {
  margin: 10px 0;
  color: white;
  background-color: darkcyan;
  transition: 0.2s;
}

button#save:hover {
  background-color: #05a77e;
  transition: 0.2s;
} 

button#cancel {
  color: #197eeb;
  border: 2px solid #666;
  background-color: white;
  transition: 0.2s;
}

button#cancel:hover {
  border: 2px solid #197eeb;
} 

.close {
  border: none;
  background-color: transparent;
  color: #555;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

header {
  color: white;
  background-color: brown;
}

header .container {
  padding: 15px 25px;
}

header .row {
  flex-direction: column;
}

header h1 {
  margin: 0;
}

header button {
  display: flex;
  align-items: center;
  color: white;
  font-size: 12px;
  background-color: transparent;
  border: 2px solid #999;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px auto 0 0;
  box-sizing: border-box;
}

header button div:first-child {
  margin-right: 10px;
}

header button:hover {
  border: 2px solid #66b0ff;
}

main {
  padding-top: 10px;
}

main > .row > .container {
  max-width: 80vw;
}

main .right {
  display: none;
}

#inputForm .input-item-container {
  margin: 5px 10px 5px 0;
  width: 100%;
}

#inputForm input {
  height: 36px;
  width: 100%;
  font-size: 17.5px;
  line-height: 36px;
  border-radius: 3px;
  border: 1px solid black;
  text-indent: 10px;
}

#inputForm .date {
  width: 130px;
}

#inputForm select {
  height: 39px;
  width: 100%;
  font-size: 17.5px;
  line-height: 39px;
  border-radius: 3px;
  border: 1px solid black;
  text-indent: 7px;
}

#inputForm #travelers {
  cursor: pointer;
}

.balloon {
	position: absolute;
	width: 170px;
  height: auto;
  background-color: white;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 0 7px 2px #b1b1b1;
  margin-bottom: 30px;
  display: none;
}

.balloon .balloon-container {
  margin: 10px auto;
}

.balloon label + span {
  font-size: 14px;
  color: #555;
  margin-left: 10px;
}

.balloon .number-selection {
  display: flex;
  margin-top: 5px;
}

.balloon .number-selection button {
  border: none;
  border-radius: 50%;
  background-color: white;
  color: #6c6c6c;
  height: 30px;
  width: 30px;
  margin: 3px;
  padding: 0;
  text-align: center;
  transition: 0.2s;
}

.balloon .number-selection button:hover {
  color: green;
}

.balloon .number-selection button:active,
.balloon .number-selection button:focus {
  outline: none;
}

.balloon .number-selection button:disabled {
  background-color: #d4d4d4;
  color: white;
  cursor: not-allowed;
}

.balloon .number-selection input {
  height: 27px;
  width: 30px;
  margin: 3px;
  border: none;
  text-align: center;
  font-size: 20px;
  text-indent: 0;
}

.ui-autocomplete{
  font-size: 17.5px;
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
}

.serch-button-row {
  margin-top: 20px;
  padding-right: 7px;
}

button#serch {
  height: 37px;
  width: 100%;
  line-height: 37px;
  background-color: #6c6c6c;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-size: 17.5px;
  font-weight: bold;
  padding: 0 10px;
  text-decoration: none;
  justify-self: left;
  transition: 0.2s;
}

button#serch:hover {
  background-color: green;
}

.itinerary {
  background-color: teal;
  padding: 10px 10px 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 20px;
}

.itinerary .price {
  border-radius: 3px;
  text-align: center;
  padding: 0 10px;
  margin-bottom: 5px;
  height: 30px;
  line-height: 30px;
  width: 90px;
  background-color: white;
}

.itinerary .leg {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  margin: 5px 0;
  padding: 0 5px 15px;
  height: 100%;
  width: auto;
  background-color: white;
}

.itinerary .leg .segment {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 5px;
  margin-right: 5px;
}

.itinerary .leg .carrier {
  height: 40px;
  line-height: 40px;
  width: auto;
  margin: 10px auto 5px 0;
  text-align: center;
}

.itinerary .leg .time-and-place {
  margin: auto;
  line-height: 25px;
  text-align: center;
}

.itinerary .leg .direction {
  color: #4b4b4b;
  height: auto;
  width: 20px;
  margin: 10px auto;
}
